form {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 32px;
}

.chat-input {
  height: 60px;
  width: 60%;
  background-color: #fff;
  border: 1px solid #e3e4e4;
  border-radius: 30px;
  padding: 15px 30px;
  margin-left: 20px;
  margin-right: 80px;
  margin-bottom: 32px;
  justify-content: flex-end;
  align-self: flex-end;
}

.chat-input:focus {
  outline: none;
  color: #000;
}