@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import "assets/contactlist";

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.chat-client {
  background: #efefef;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

.box {
  width: 30%;
  margin: 20px 100px;
  padding: 30px;
  text-align: center;
  font-weight: 900;
  color: #87C214;
  font-family: arial;
  position: relative;
  border-radius: 6px;
  justify-content: flex-end;
}

.sent {
  background-color: #7dbf3a;
  align-self: flex-end;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.sent:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #7dbf3a;
  border-right: 10px solid transparent;
  border-top: 10px solid #7dbf3a; 
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 10px;
}

.received {
  font-size: 14px;
  background-color: #fff;
  color: #737373;
  align-self: center;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
}

.received:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 10px;
}
